* {
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}

html, body {
    width: 100%;
    background-color: lightgrey;
}

#content {
    display: flex;
    flex-direction: column;
    position: relative;
}

#currentDisplay {
    display: flex;
    background-color: lightgrey;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.icon {
    width: 2rem;
}

#currentLeft, #currentRight {
    display: flex;
    flex-direction: column;
}

#currentLeft, #currentWeatherDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#currentHumidDiv, #currentWindDiv, .windSubDiv {
    display: flex;
    align-items: center;
}

.windSubDiv {
    gap: 0.5rem;
}

#currentHumidDiv > div, #currentWindDiv > div {
    padding: 0.5rem;
}

.currentStatText, .currentStatSubText {
    font-weight: bold;
}

.currentStatSubText {
    font-size: small;
}

#currentWeatherDescription {
    font-size: x-large;
    font-weight: bolder;
}

#weatherLocation {
    font-size: xx-large;
    font-weight: bolder;
}

.currentTemperature {
    font-size: x-large;
    font-weight: bolder;
}

#dailyDisplay {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 30vh;
    padding: 2vh 1vw;
    gap: 1rem;
}

.itemHumidDiv, .itemTempDiv, .itemPrecipDiv {
    display: flex;
    align-items: center;
}

.itemMinTemp {
    font-size: small;
}

.dailyWeatherItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vh 1vw;
    background-color: lightblue;
}

.itemDate, .itemDescription {
    font-size: larger;
    text-align: center;
}

.itemDescription {
    margin-bottom: 1rem;
}

#floatControls {
    position: absolute;
    top: 1vh;
    left: 1vw;
    display: flex;
}

#unitButton {
    padding: 20%;
    border-radius: 50%;
    font-size: xx-large;
    font-weight: bolder;
}

.itemUnitText {
    font-size: larger;
}