* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100%;
}

#content {
    display: flex;
    flex-direction: column;
}

#currentDisplay {
    display: flex;
    background-color: lightgrey;
    align-items: center;
    justify-content: center;
    padding: 10%;
}

.icon {
    width: 2rem;
}

#currentLeft, #currentRight {
    display: flex;
    flex-direction: column;
}

#currentLeft, #currentWeatherDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#currentHumidDiv, #currentWindDiv, .windSubDiv {
    display: flex;
    align-items: center;
}

.windSubDiv {
    gap: 0.5rem;
}

#currentHumidDiv > div, #currentWindDiv > div {
    padding: 0.5rem;
}

.currentStatText, .currentStatSubText {
    font-weight: bold;
}

.currentStatSubText {
    font-size: small;
}

#currentWeatherDescription {
    font-size: x-large;
    font-weight: bolder;
}

#weatherLocation {
    font-size: xx-large;
    font-weight: bolder;
}

.currentTemperature {
    font-size: x-large;
    font-weight: bolder;
}

#dailyDisplay {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    height: 40vh;
    background-color: lightblue;
}

.itemHumidDiv, .itemTempDiv, .itemPrecipDiv {
    display: flex;
    align-items: center;
}

.itemMinTemp {
    font-size: small;
}

.dailyWeatherItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.itemDate, .itemDescription {
    font-size: larger;
}

.itemDescription {
    margin-bottom: 1rem;
}